@use '../utils/variables' as var;

.container {
  position: relative;
  background: var.$color-white;
  border-radius: 0.8rem;
  width: 100vw;
  height: 100vh;
  max-width: 75vw;
  max-height: 30vw;
  padding: 3.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
